body{
  background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.shutterstock.com%2Fshutterstock%2Fvideos%2F2570153%2Fthumb%2F1.jpg&f=1&nofb=1);
color: red;
background-repeat: no-repeat;
background-size:cover;
}
